@model Employee


<form method="post" >
    <div class="card">
        <div class="card-body text-center">
            
            <h4 class="text-danger">
                Are you Sure you want to delete this human???
            </h4>
            <h5 class="text-warning">@Model.FirstName @Model.LastName</h5>

            <input asp-for="EmployeeId" type="hidden"/>
            
            <div class="mt-5">
                <a asp-action="Index" class="btn btn-secondary"> Cancel </a>

                <button type="submit" class="btn btn-success">
                    Delete
                </button>
            </div>
       
        </div>
 

    </div>

</form>