@model Employee

<form method="post">
    <h3>Edit</h3>
    <div class="mb-3">
        <label asp-for="FirstName"></label>
        <input asp-for="FirstName" class="form-control" />
    </div>


    <div > 
        <button class="btn bg-success" type="submit">Update</button>
    </div>
</form>