@model List<Employee>

<div class="btn-group">
    <button type="button" class="btn btn-outline-primary dropdown-toggle" data-bs-toggle="dropdown" data-bs-display="static" aria-expanded="false">
        @Model.Count
    </button>
    <ul class="dropdown-menu dropdown-menu-lg-end">
        @foreach (var emp in Model)
        {
            <li>
                <a class="dropdown-item" 
                   asp-controller="Employees" asp-action="Details" asp-route-id="@emp.EmployeeId">
                    @emp.FirstName @emp.LastName
                </a>
            </li>
        }
    </ul>
</div>